*,
*::after,
*::before {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #d7d7d7;
  font-size: 30px;
}
.home {
  background-color: #2d3136;
  padding: 50px 0 60px;
}
.home__logo {
  margin-bottom: 20px;
  justify-content: center;
}
.home__form-label {
  font-weight: 500;
  padding-right: 20px;
  position: relative;
}
.home__form-label::after {
  content: "*";
  position: absolute;
  top: 0;
  right: 0;
  color: #be393b;
}
.home__form-input,
.home__form-area {
  padding: 10px 15px;
  border-radius: 5px;
  border: 3px solid #4c4f53;
  color: inherit;
  background-color: #2f3338;
  outline: none;
  font-size: 20px;
  width: 300px;
}
.home__form-input:focus,
.home__form-area:focus {
  border: 3px solid #743538;
}
.home__form-comment {
  margin-left: 200px;
}
.home__form-area {
  resize: none;
  height: 177px;
  width: 400px;
}
.home__form-btn {
  font-size: 25px;
  margin-left: auto;
}

.comments {
  padding: 50px 0;
  text-align: center;
  background-color: #f6f6f7;
}
.comments__title {
  color: #37414e;
  margin-bottom: 50px;
}
.comments__list {
  display: flex;
}
.comments__list-item {
  width: calc(100% / 3);
  margin-bottom: 20px;
}
.comments__list-name {
  background-color: #4b596c;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px 0;
  font-weight: 500;
  color: inherit;
}
.comments__list-item:nth-child(2n) .comments__list-name {
  background-color: #58ad52;
}
.comments__list-info {
  background-color: rgba(75, 89, 108, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 8px;
}
.comments__list-item:nth-child(2n) .comments__list-info {
  background-color: rgba(88, 173, 82, 0.2);
}
.comments__list-mail {
  font-weight: 700;
  padding: 20px 0;
  color: #4b596c;
  word-break: break-word;
  font-size: 20px;
}
.comments__list-item:nth-child(2n) .comments__list-mail,
.comments__list-item:nth-child(2n) .comments__list-text {
  color: #58ad52;
}
.comments__list-text {
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
  color: #4b596c;
  word-break: break-word;
  font-size: 16px;
}
.footer {
  padding: 50px 0;
  background-color: #2d3136;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  width: 300px;
}
.footer__social-list {
  display: flex;
}
.footer__social-item {
  width: 40px;
  margin: 0 5px;
}
/* ================================================================================================================
                                                    Responsive
================================================================================================================ */
@media (max-width: 940px) {
  .home__form-comment {
    margin-left: 70px;
  }
  .home__form-area {
    width: 350px;
  }
  .home__form-input {
    width: 250px;
  }
}

@media (max-width: 700px) {
  .logo {
    justify-content: center;
  }
  .home__form {
    flex-wrap: wrap;
  }
  .home__form-userInfo,
  .home__form-comment {
    width: 100%;
    margin-left: 0;
  }
  .home__form-input,
  .home__form-area {
    width: 100%;
  }
  .home__form-input:last-child {
    margin-bottom: 20px;
  }
  .home__logo {
    margin-top: 20px;
  }
  .comments__list-mail {
    max-width: 185px;
    margin: 0 auto;
  }
  .comments__list-item {
    width: calc(100% / 2);
  }
}

@media (max-width: 500px) {
  body {
    font-size: 20px;
  }
  .home__form-btn {
    font-size: 20px;
  }
  .logo__link {
    width: 300px;
  }
  .home__logo-img {
    width: 160px;
  }
  .home__form-input,
  .home__form-area {
    padding: 4px 15px;
    font-size: 16px;
  }
  .comments__list-item {
    width: 100%;
  }
  .footer {
    padding: 20px 0;
  }
  .footer__inner {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__logo {
    width: 200px;
  }
}
